<div id="pagewrap">

  <header>
    <center><h1>Budget</h1></center>
  </header>
    
  <section id="content">
    <h2>Projected</h2>
    <form action="/">
    <input type="text" name="key" value="Category">
    <input type="text" name="value" value="VALUE">
    </form> 
  </section>
  
  <!-- <section id="middle">
    <h2>Actual</h2>
    <form action="/">
    <input type="text" name="key" value="Category">
    <input type="text" name="value" value="VALUE">
    </form> 
  </section> -->

  <aside id="sidebar">
    <h2>Summary</h2>
    <p>What should it look like?</p>
  </aside>
  
  <footer>
  </footer>

</div>