<nav>
  <div id="user_header" class="col-xs-12">
    <% if logged_in? %>
      <%= link_to 'Logout', logout_path %>
    <% else %>
      <%= link_to "Sign Up", signup_path %>
      <%= link_to "Log In", login_path %>        
    <% end %>
  </div>
</nav>
